/* BusTrackingUI.css */

.bus-tracking-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  flex-direction: column;
  align-items: center; /* Align content to the left horizontally */
  justify-content: center; /* Center content vertically */
  padding: 35px; /* Add padding to create space around the content */
  height: 100vh;
}

.text-left {
  margin-bottom: 35px; /* Add margin to create space between heading and map container */
}

.map-container {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(151, 156, 161);
  border-radius: 20px;
  overflow: hidden;
}
.details{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 65px 10px;
  font-weight: 500;
  
}
/* styles.css */
